<html ng-app="Crawl" class="ng-scope">
<head>
    <title>CrawlWeb</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />    
</head>
<body ng-controller="CrawlPanelController">    
    <div class="container">
        <main role="main" class="pb-3">
            <link data-require="bootstrap@3.3.7" data-semver="3.3.7" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
            <link data-require="bootstrap-css@3.*" data-semver="3.3.7" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" />
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script data-require="angular.js@1.6.5" data-semver="1.6.5" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
            <script data-require="angular-animate@1.6.*" data-semver="1.6.5" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.min.js"></script>
            <script data-require="angular-touch@1.6.*" data-semver="1.6.2" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-touch.js"></script>
            <script data-require="ui-bootstrap" data-semver="2.5.0" src="https://cdn.rawgit.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-tpls-2.5.0.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.3/signalr.min.js"></script>            
            <script src="~/js/CrawlPanelController.js"></script>
            <p></p>
            <span>DB來源</span>
            <select ng-model="dataBase" class="btn btn-secondary dropdown-toggle">
                <option ng-repeat="x in dataBaseList" value="{{x}}">{{x}}</option>
            </select>

            <div class="container-fluid">

                <hr>
                更新時間:{{ updateTime }}
                <input type="button" class="btn btn-success" value="立刻更新" ng-click="getStatusCount()" />


                <div>總觀</div>
                <table class="table table-bordered rounded-circle  ">
                    <tr><td>狀態</td><td>數量</td></tr>
                    <tr ng-repeat="x in statusArray">
                        <td>    {{x.job_status}} </td>
                        <td>    {{x.count}} </td>
                    </tr>
                </table>
                <hr />

                <ul class="nav nav-tabs">
                    <li class="active"><a href="#search" data-toggle="tab">查詢</a></li>
                    <li class=""><a href="#job" data-toggle="tab">進行中的Job</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade in active" id="search">

                        <span>序列中JOB狀態</span>
                        <select ng-model="reqModel.job_status" class="btn btn-secondary dropdown-toggle">
                            <option ng-repeat="x in statusArray" value="{{x.job_status}}">{{x.job_status}}</option>
                        </select>
                        <span>取得數量</span>
                        <input type="number" class="info-box-number " ng-model="reqModel.count" />

                        <input type="button" class="btn btn-success" value="送出" ng-click="getdata()" />

                        <div>最近的50筆</div>
                        <table class="table table-bordered rounded-circle  ">
                            <tr>
                                <td>ID</td>
                                <td>型態</td>
                                <td>狀態</td>
                                <td>內文</td>
                                <td>錯誤</td>
                                <td>工作站</td>
                                <td>工作次數</td>
                                <td>註冊時間</td>
                                <td>工作開始</td>
                                <td>工作結束</td>
                            </tr>
                            <tr ng-repeat="x in dataArray | orderBy: -startTime">
                                <td>    {{x.seq}} </td>
                                <td>    {{x.job_type}} </td>
                                <td>    {{x.job_status}} </td>
                                <td>    {{x.job_info}} </td>
                                <td>    {{x.error_info}} </td>
                                <td>    {{x.work_station}} </td>
                                <td>    {{x.work_times}} </td>
                                <td>    {{x.register_time}} </td>
                                <td>    {{x.start_time}} </td>
                                <td>    {{x.end_time}} </td>
                            </tr>
                        </table>
                    </div>

                    <div class="tab-pane fade" id="job">
                        <table class="table table-bordered rounded-circle  ">
                            <tr>
                                <td>ID</td>
                                <td>型態</td>
                                <td>內文</td>
                                <td>開始時間</td>
                            </tr>
                            <tr ng-repeat="x in jobList">
                                <td>    {{x.seq}} </td>
                                <td>    {{x.jobType}} </td>
                                <td>    {{x.url}} </td>
                                <td>    {{x.startTime}} </td>
                            </tr>
                        </table>
                    </div>
                </div>                

            </div>
        </main>
    </div>
</body>
</html>